*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar
{
    overflow: hidden;
    background-color: green;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar a
{
    float:left;
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover
{
    background-color: #ddd;
    color: black;
}
.main{
    width: 100;
    background: white;
    background-position: center;
    background-size: cover;
    height: 109vh;
    overflow:auto;
}
.profilepic
{
    height: 300px; 
    width: 300px; 
    border: 10px solid rgba(32, 160, 100, 0.726); 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 200px;  
}
img.broward-logo
{
    height: 150px;
    width: 150px;
    margin-top: 100px;
    float: left;
}
.bio
{
    color: black;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: none;
}
.bio p
{
    font-size: x-large;
}
.icon
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}
.icon a:hover
{
    color: darkgray;
    transition: 0.4s ease-in-out;
}
.fa-linkedin
{
    text-decoration: none;
    color: #007bb5; 
}
.fa-mail
{
    text-decoration: none;
    color: black;  
}
.fa-github
{
    text-decoration: none;
    color: black;
}









    

