*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.navbar
{
    overflow: hidden;
    background-color: rgb(4, 68, 4);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}
.navbar a
{
    float:left;
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navbar a:hover
{
    background-color: #ddd;
    color: black;
}
.main{
    width: 100;
    background: white;
    background-position: center;
    background-size: cover;
    height: 109vh;
    overflow: auto;
    position: relative;
}
.bio img
{
    height: 200px; 
    width: 200px; 
    border: 5px solid rgba(4, 68, 38, 0.726); 
    border-radius: 50%;
    display: block; 
    margin-top: 80px;
    margin-left: 100px; 
    position:absolute
}

.bio h3
{
    position:absolute;
    top: 300px;
    left: 155px;
    color: black;
    font-style: italic;
    
}
.bio h4
{
    position:absolute;
    top: 320px;
    left: 140px;
    color: black;
    font-style: italic;
}

.bio p
{
    position: absolute;
    top: 100px;
    left: 400px;
}
.icon
{   
    position: absolute;
    top: 200px;
    left: 400px;
}
.usf
{
    position:absolute;
    top: 450px;
    left: 200px;
}
.usf img
{
    height: 100px;
    width: 100px;
    float: left;
    margin: 0 15px 0 0 ;
    
}
.usfList
{
    display: inline-block;
}
.broward
{
    position:absolute;
    top: 570px;
    left: 200px;

}
.usf p, .broward p
{
    display: inline-block;
    
}
.EduHeading
{
    position: absolute;
    top: 400px;
    left: 200px;
}
.ExpHeading
{
    position:absolute;
    top: 400px;
    left: 700px;
}

.broward img
{
    height: 100px;
    width: 100px;
    margin: 0 15px 0 0 ;
    float:left;
}

.bio p
{
    font-size: x-large;
}
.icon
{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 40px;
}
.icon a:hover
{
    color: darkgray;
    transition: 0.4s ease-in-out;
}
.fa-linkedin
{
    text-decoration: none;
    color: #007bb5; 
}
.fa-mail
{
    text-decoration: none;
    color: black;  
}
.fa-github
{
    text-decoration: none;
    color: black;
}
.fa-resume
{
    text-decoration: none;
}

.fairfax
{
    position:absolute;
    top: 450px;
    left: 700px;
    display: block;

}

.fairfax img, .usf-it img
{
    height: 30px;
    width: 30px;
    float: left;
    margin: 0 15px 0 0 ;

}
.usf-it p, .fairfax p
{
    display: inline-block;
}

.usf-it
{
    position:absolute;
    top: 750px;
    left: 700px;
    display: block;
    
}











    

